.tile_main {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  margin: -0.5px;
}

.usernone {
  background-color: inherit;
}

.ai_move {
  background-color: red;
}

.userrock {
  background-color: royalblue;
}

.userpaper {
  background-color: palegreen;
}

.userscissors {
  background-color: slategray;
}

.currentTie {
  background-color: yellow;
}
