.tile_main {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  outline: none;
  font-size: 1.3rem;
  text-align: center;
}

.open_tile {
  background-color: #fcfcfc;
}

.user_tile_move {
  background-color: #6844fc;
}

.user_tile_owned {
  background-color: #4428bc;
  color: #fcfcfc;
  text-shadow: 1px 1px black;
}

.ai_tile_move {
  background-color: #e40058;
  color: #fcfcfc;
  text-shadow: 1px 1px black;
}

.ai_tile_owned {
  background-color: #a80020;
  color: #fcfcfc;
  text-shadow: 1px 1px black;
}

.contested_tile {
  background-color: #f8b800;
  text-shadow: 1px 1px white;
}

.active_tile {
  border: 2px solid #00fcfc;
}

.currentTie {
  background-color: #f8b800;
  border: 2px solid #00fcfc;
}

.tile_image {
  width: inherit;
  height: inherit;
}

.tile_text {
  padding-left: 10%;
  padding-top: 5%;
}

.played_both {
  border-top: 3px solid silver;
  border-left: 3px solid silver;
  border-bottom: 3px solid gold;
  border-right: 3px solid gold;
}

.played_ai {
  border: 3px solid silver;
}

.played_user {
  border: 3px solid gold;
}

@media only screen and (min-width: 750px) {
  .tile_main {
    width: 75px;
    height: 75px;
    font-size: 1.8rem;
  }

  .tile_text {
    padding-left: 5%;
    padding-top: 2.5%;
  }
}

@media only screen and (min-width: 1000px) {
  .tile_main {
    width: 100px;
    height: 100px;
  }
}
