.tile_main {
  height: 50px;
  width: 50px;
  border: 2px solid black;
  margin: -1px;
}

.usernone {
  background-color: inherit;
}

.ai_move {
  background-color: red;
}

.currentTie {
  background-color: yellow;
}

.tile_image {
  width: inherit;
  height: inherit;
  animation: fadeIn ease 0.5s;
}

.rock,
.paper,
.scissors > .tile_image {
  animation: none;
}

.userpaper {
  animation: none;
}

.userscissors {
  animation: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
