.scoreboard_main {
  background-color: #e45c10;
  border: 4px solid #f8f8f8;
  padding: 2%;
  text-align: center;
}

.scoreboard_display {
  font-size: 1.2rem;
  color: #fcfcfc;
}

@media only screen and (min-width: 750px) {
  .scoreboard_main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-right: 3%;
    padding-left: 3%;
  }

  .scoreboard_display {
    width: 40%;
  }
}

@media only screen and (min-width: 1000px) {
  .scoreboard_main {
    padding: 1%;
  }

  .scoreboard_display {
    font-size: 1.8rem;
  }
}
